.profileBlock {
	position: relative;
	width: 1280px;
	height: 720px;
}

.form {
	position: absolute;
	width: 413px;
	height: 540px;
	left: 434px;
	top: 84px;

	background: #F9F9FE;
	border-radius: 8px;
}

.avatar {
	position: relative;
	text-align: center;
	margin-top: 15px;
}

.avatar img {
	height: 116px;
	width: 116px;
	border-radius: 50%;
}

.avatar i {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 55%;

	padding: 7px;
	border-radius: 50%;
	border: 1px solid #fff;
	color: rgba(0, 0, 0, 0.501);
	background-color: #24254a6a;
	opacity: 0.9;
}

.label {
	font-family: 'SF UI Display';
	font-style: normal;

	font-weight: 400;
	/* font-size: 14px; */
	line-height: 20px;

	color: #24254A;

	opacity: 0.5;
}

.form p {
	position: relative;
	margin-left: 33px;
}

.form input {
	width: 339px;
	border: none;
	border-bottom: 3px solid #bfbfbf;

	background-color: transparent;
	color: inherit;
	outline: none;
	opacity: 0.8;
	z-index: 2;
	position: relative;
}