.cardsBlock {
    position: relative;
    width: 1280px;
    height: 720px;
}

.cardsForm {
    position: absolute;
    width: 1008px;
    height: 636px;
    left: 136px;
    top: 84px;

    background: #FEFEFF;
    border-radius: 8px;

    display: grid;
    grid-template-areas: "p c c"
        "n c c"
        "n c c";

}

.buttonsBlock {
    grid-area: p;

    width: 243px;
    height: 216px;
    text-align: center;

    background: #ECECF9;
}

.buttonsBlock h2 {
    margin: 0;

}

.buttonsBlock button {
    cursor: pointer;
    margin-top: 6px;
    width: 75px;
    height: 24px;

    border: 1px solid #9f9fb6;
    background-color: #D9D9F1;
    border-radius: 2px;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #21268F;
}

.numberOfCardsBlock {
    grid-area: n;

    padding: 24px;
    width: 243px;
    height: 420px;

    background: #ECECF9;
}

.numberOfCardsBlock span {
    /* font-family: 'SF UI Display'; */
    /* font-style: normal; */
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #2D2E46;
}

.slider {
    margin-top: 25px;
}

.cardsBoardBlock {
    grid-area: c;

    padding: 24px 48px;

    background: #fff;
}

.searchInput {
    box-sizing: border-box;
    width: 669px;
    height: 36px;

    margin-top: 24px;

    /* position: absolute; */
    /* left: 33.36%;
    right: 14.38%;
    top: 19.72%;
    bottom: 75.73%; */

    /* background-color: #ECECF9; */
    /* opacity: 0.5; */
    /* border: 1px solid #635D80; */
    border-radius: 2px;

}

.packCardsBlock {
    width: 669px;
    margin-top: 24px;

    box-shadow: -1px 3px 7px 1px #e1dede;

}

.packCards {
    height: 48px;
    padding: 14px;

}

.pagination {
    margin-top: 24px;

}

.headerPackCards {
    display: flex;

    height: 48px;
    padding: 14px;

    background: #ECECF9;

}

.packCards {

    display: flex;
}

.name {
    width: 150px;
}

.cards {
    width: 70px;
}

.updated {
    width: 130px;
}

.createdBy {
    width: 130px;
}

.actions {
    width: 150px;
}

.actions button {
    cursor: pointer;
    border: none;
    outline: none;

    margin: 0 2px;
    padding: 1px 4px;
    border-radius: 2px;
}

.buttons {
    /* background-color: #D9D9F1; */
    color: #21268F;
    background-image: linear-gradient(to right,
            #D9D9F1 0%, #D9D9F1 51%, #ECECF9 100%);
    transition: .5s;
    background-size: 200% auto;

}

.buttonsDelete {
    color: #fff;
    background-image: linear-gradient(to right, #dd4b43 0%, #eb574f 51%, #ff0d00 100%);
    transition: .5s;
    background-size: 200% auto;
}

.actions button:hover {
    /* color: #21268F; */
    background-position: right center;
}