

.block {
	position: relative;
	width: 1280px;
	height: 720px;
}

.form {
	position: absolute;
	width: 413px;
	height: 540px;
	left: 434px;
	top: 84px;

	background: #F9F9FE;
	border-radius: 8px;
}


.form label {
	font-family: 'SF UI Display';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height, or 154% */
	/* color: #24254A; */
}

p {
	position: relative;
	margin-left: 33px;
}

.form input {
	width: 339px;
	border: none;
	border-bottom: 1px solid #24254A;
	background-color: transparent;
	color: inherit;
	outline: none;
	opacity: 0.8;
	z-index: 2;
	position: relative;
}

.form span {
	cursor: pointer;
	right: 11%;
	position: absolute;
}

.error {
	color: red;
	font-size: 13px;
	margin: -11px 1px 1px 33px;
	position: absolute;
}